<section class="s-block container anovik-most-sold-section">
  <div class="anovik-section-header">
    <div class="anovik-section-badge anovik-section-badge--fire">
      <i class="sicon-star-full"></i>
      الأكثر مبيعاً
    </div>
    <div class="anovik-section-divider"></div>
  </div>
  <salla-products-list
    source="most_sales"
    limit="1"
    class="anovik-most-sold-list"
  ></salla-products-list>
</section>
