<section class="s-block container anovik-our-products-section">
  <div class="anovik-section-header">
    <div class="anovik-section-badge">
      <i class="sicon-grid"></i>
      بعض منتجاتنا
    </div>
    <div class="anovik-section-divider"></div>
  </div>
  <salla-products-list
    source="latest_products"
    limit="3"
    class="anovik-our-products-list"
  ></salla-products-list>
</section>
