<section class="s-block container anovik-our-products-section">
  {% if title %}
  <div class="s-block__title">
    <div class="right-side">
      <h2>{{ title }}</h2>
    </div>
    {% if display_all_url %}
      <a href="{{ display_all_url }}" class="s-block__display-all">
        {{ trans('blocks.home.display_all') }} <i class="sicon-arrow-left"></i>
      </a>
    {% endif %}
  </div>
  {% endif %}
  <salla-products-list
    source="latest_products"
    limit="{{ limit ?? 3 }}"
  ></salla-products-list>
</section>
